In [1]:
import pandas as pd
df =pd.read_csv("tab.tsv",sep=" ")
df

    IQ  CGPA  HobbyScore  Placement
0  112   7.8          63          1
1   95   6.9          44          0
2  134   8.6          71          1
3  101   7.2          29          0

# sep by default is ","

In [54]:
df = pd.read_csv("colon.csv",sep="-")
df
# default sep hota hein comma

    IQ  CGPA  HobbyScore  Placement
0  112   7.8          63          1
1   95   6.0         344          0
2  134   8.6          71          1
3  101   7.2          29          0

# No headings

In [55]:
df = pd.read_csv("no_heading.csv",names=["Index","IQ","CGPA","HobbyScore","Placement"],sep="-")
df.to_csv("index.csv",index=False)

# index_col paramater

In [56]:
df = pd.read_csv("index.csv",index_col="Index")
print(df)
df.loc[1,"IQ"]

        IQ  CGPA  HobbyScore  Placement
Index
0      112   7.8          63          1
1       95   6.9          44          0
2      134   8.6          71          1
3      101   7.2          29          0

95

# header

In [57]:
df = pd.read_csv("header.csv",sep=" ",header=1,index_col="Index")
df

        IQ  CGPA  HobbyScore  Placement
Index
0      112   7.8          63          1
1       95   6.9          44          0
2      134   8.6          71          1
3      101   7.2          29          0

# usecols -> i only want to use these cols

In [58]:
df =pd.read_csv("colon.csv",sep="-",usecols=["IQ","CGPA","Placement"])
df

    IQ  CGPA  Placement
0  112   7.8          1
1   95   6.0          0
2  134   8.6          1
3  101   7.2          0

# squeeze parameters

In [59]:
df= pd.read_csv("colon.csv",sep="-",usecols=["IQ"]).squeeze("columns")
df

0    112
1     95
2    134
3    101
Name: IQ, dtype: int64

# skip rows(considers colums heading as row too)

In [6]:
df=pd.read_csv("index.csv")
print(df)
df=pd.read_csv("index.csv",skiprows=[1,3])
print("**********************")
print(df)

   Index   IQ  CGPA  HobbyScore  Placement
0      0  112   7.8          63          1
1      1   95   6.9          44          0
2      2  134   8.6          71          1
3      3  101   7.2          29          0
**********************
   Index   IQ  CGPA  HobbyScore  Placement
0      1   95   6.9          44          0
1      3  101   7.2          29          0

In [7]:
df=pd.read_csv("index.csv",nrows=2)
df
# yha kitni rows leni hein

   Index   IQ  CGPA  HobbyScore  Placement
0      0  112   7.8          63          1
1      1   95   6.9          44          0

# badlines(check for the parse error)

In [13]:
df = pd.read_csv("bad_dtype.csv",error_bad_lines=False)
df

C:\Users\raksh\AppData\Local\Temp\ipykernel_11716\105872994.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("bad_dtype.csv",error_bad_lines=False)
Skipping line 3: expected 5 fields, saw 6

   Index   IQ  CGPA  HobbyScore  Placement
0      0  112   7.8        63.0          1
1      2  134   8.6        71.0          1
2      3  101   7.2        29.0          0

In [23]:
df = pd.read_csv("bad_dtype.csv",error_bad_lines=False,dtype={"HobbyScore":int})
df

C:\Users\raksh\AppData\Local\Temp\ipykernel_11716\380594582.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("bad_dtype.csv",error_bad_lines=False,dtype={"HobbyScore":int})
Skipping line 3: expected 5 fields, saw 6

   Index   IQ  CGPA  HobbyScore  Placement
0      0  112   7.8          63          1
1      2  134   8.6          71          1
2      3  101   7.2          29          0

# Na-value Paramenters

In [26]:
df = pd.read_csv("index.csv")
print(df.isnull()) # yha par bhi pakad mein nhi aata is type ki vaules 
df.info()

   Index     IQ   CGPA  HobbyScore  Placement
0  False  False  False       False      False
1  False  False  False       False      False
2  False  False  False       False      False
3  False  False  False       False      False
4  False  False  False       False      False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Index       5 non-null      int64
 1   IQ          5 non-null      int64
 2   CGPA        5 non-null      object
 3   HobbyScore  5 non-null      int64
 4   Placement   5 non-null      object
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes

In [34]:
df=pd.read_csv("index.csv",na_values=['-','%'])
df.isnull()
print(df)
print("*****************************************************")
df.dropna(axis=0,inplace=True)
print(df)

   Index   IQ  CGPA  HobbyScore  Placement
0      0  112   7.8          63        1.0
1      1   95   6.9          44        0.0
2      2  134   8.6          71        1.0
3      3  101   7.2          29        0.0
4      4  123   NaN          51        NaN
*****************************************************
   Index   IQ  CGPA  HobbyScore  Placement
0      0  112   7.8          63        1.0
1      1   95   6.9          44        0.0
2      2  134   8.6          71        1.0
3      3  101   7.2          29        0.0

# convertor

In [49]:
def rename(name):
    if name=="Ghaziabad":
        return "G.Z.B"
    elif name=="New York":
        return "U.S.A"
    else:
        return name

In [50]:
df =pd.read_csv("convertor.csv",converters={"location":rename})
df

   Name location
0  Yash    G.Z.B
1  Aman    Delhi
2     x    U.S.A
3     y   Russia

# chunks (maan lo data boht bda hein and memory mein aa nhi paara)

In [62]:
dfs = pd.read_csv('chunk.csv',na_values=['-','%'],chunksize=5)
for chuk in dfs:
    print(chuk)

   Index   IQ  CGPA  HobbyScore  Placement  Unnamed: 5
0      0  112   7.8          63          1         NaN
1      1   95   6.9          44          0         NaN
2      2  134   8.6          71          1         NaN
3      3  101   7.2          29          0         NaN
4      4  123   NaN          51          1         NaN
   Index   IQ  CGPA  HobbyScore  Placement  Unnamed: 5
5      0  112   7.8          63          1         NaN
6      1   95   6.9          44          0         NaN
7      2  134   8.6          71          1         NaN
8      3  101   7.2          29          0         NaN
9      4  123   NaN          51          1         NaN
    Index   IQ  CGPA  HobbyScore  Placement  Unnamed: 5
10      0  112   7.8          63          1         NaN
11      1   95   6.9          44          0         NaN
12      2  134   8.6          71          1         NaN
13      3  101   7.2          29          0         NaN
14      4  123   NaN          51          1         NaN
    Index   IQ  CGPA  HobbyScore  Placement  Unnamed: 5
15      0  112   7.8          63          1         NaN
16      1   95   6.9          44          0         NaN
17      2  134   8.6          71          1         NaN
18      3  101   7.2          29          0         NaN
19      4  123   NaN          51          1         NaN

# handling dates

In [9]:
df = pd.read_csv("date_one.csv")
print(df)
df = pd.read_csv("date_one.csv",parse_dates={"date":["year","month","day"]})
print(df)

   year  month  day  sales
0  2024      1   15    250
1  2024      1   16    300
2  2025     12   30   1000
        date  sales
0 2024-01-15    250
1 2024-01-16    300
2 2025-12-30   1000